.hrHome {
  width: 85%;
  margin: 8rem auto;
  color: var(--neutralColorBase);
  border: 1px solid;
}

@media (max-width: 1400px) {
  .hrHome {
    width: 90%;
  }
}

.section {
  margin: 0 auto;
  margin-bottom: 9rem;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.h2 {
  font-family: var(--font-katibeh);
  font-weight: 400;
  font-size: 4.5rem;
}

.seeAllLink {
  font-size: 1.6rem;
  margin-right: 3rem;
  text-decoration: underline;
}

.ProductFlex {
  display: grid;
  gap: 3rem;
}

/* 1 columna en pantallas pequeñas (menos de 600px) */
@media (max-width: 599px) {
  .ProductFlex {
    grid-template-columns: 1fr;
  }
}

/* 2 columnas en pantallas medianas (600px - 1023px) */
@media (min-width: 600px) and (max-width: 1023px) {
  .ProductFlex {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 4 columnas en pantallas grandes (1024px o más) */
@media (min-width: 1024px) {
  .ProductFlex {
    grid-template-columns: repeat(4, 1fr);
  }
}
