.card {
  display: flex;
  flex-direction: column;
  width: 277px;
}

.productInfo {
  padding: 0 1rem;
}

.ratingAndProName {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 1.3rem;
}

.ratingAndProName p {
  font-size: 1.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.seller {
  font-size: 1.5rem;
  font-style: italic;
  color: #555;
  margin-bottom: 1.3rem;
  margin-left: 0.6rem;
}

.price {
  font-size: 2.3rem;
  font-weight: 800;
  margin-left: 0.6rem;
  color: #000000;
}

.rating {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.rating svg {
  color: gold;
}
