.cart-product {
  position: relative;
  display: flex;
  gap: 1rem;
  background-color: #f9f9f9;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 6px;
}

.cart-product img{
  border-radius: 6px;
}

.cart-product button{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}