.cardContainer {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 2rem;
}

.featuredTitle {
  font-size: 3.2rem;
}

.featuredCard {
  border: 1.5px solid var(--neutralColorBase);
  padding: 4rem;
  width: 100%;
  box-shadow: 0px 0px 56.4px -19px rgba(0, 0, 0, 0.25);
}

.featuredCard h2 {
  margin-bottom: 2rem;
}

.productGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 2rem;
}

.productGrid p {
  font-family: var(--font-roboto);
  font-size: 1.5em;
  margin-top: 1rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 123.24px;
}

@media (max-width: 1190px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
  }
  .cardContainer div:nth-of-type(n + 3) {
    display: none;
  }
  .featuredCard {
    width: 90%;
    padding: 2rem;
  }
}

@media (max-width: 600px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
  .cardContainer div:nth-of-type(n + 2) {
    display: none;
  }
}

/* 
.skeletonProductGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.skeletonProduct {
  width: 131px;
  height: 101px;
  border-radius: 8px;
  background-color: #e2e8f0;
  position: relative;
  overflow: hidden;
}

.skeletonProduct::after {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 1.5s infinite;
  border-radius: 8px;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeletonText {
  width: 100px;
  height: 16px;
  margin: 1rem auto 0 auto;
  background-color: #e2e8f0;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.skeletonText::after {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
} */