/* styles/products/FiltersSidebar.module.css */

.wrapper {
  background-color: var(--neutralColorLigther1);
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: var(--font-katibeh);
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 1.5rem;
}

.field {
  margin-bottom: 1.5rem;
}

.label {
  display: block;
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 0.75rem;
  color: black;
}

.input,
.select {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--primaryColorDark1);
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus,
.select:focus {
  border-color: var(--primaryColorBase);
}

.flexRow {
  display: flex;
  gap: 0.5rem;
}

.button {
  width: 100%;
  background-color: var(--primaryColorBase);
  border: none;
  padding: 1rem;
  border-radius: 6px;
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.5rem;
}

.button:hover {
  background-color: var(--primaryColorDark1);
}
