.headerNav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
  gap: 3.5rem;
}

.headerButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3.5rem;
}

.searchBar {
  width: 40%;
  border-radius: 0.8rem;
  height: 3.5rem;
  border: 2px solid;
  padding: 1rem 4rem;
  background: url('/icons/Search.svg') no-repeat right 0.8rem center;
  background-size: 2.5rem 2.5rem;
}

.searchBar::placeholder {
  font-style: italic;
  font-weight: 500;
  color: var(--neutralColorDark1);
}

.userWelcome {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.userWelcome div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

.userWelcome div span {
  font-weight: 900;
  font-size: 1.3rem;
}

.userWelcome div a {
  text-decoration: underline;
  font-size: 1.1rem;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 1190px) {
  .userWelcome {
    gap: 1rem;
  }

  .headerNav {
    gap: 1.5rem;
  }

  .loginButton {
    font-size: 1rem;
  }
  .headerButtons {
    gap: 1.2rem;
  }
}

@media (max-width: 710px) {
  .favorite {
    display: none;
  }

  .cart {
    width: 3.2rem;
  }

  .userWelcome {
    flex-direction: column;
  }

  .userWelcome div {
    display: none;
  }

  .headerNav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      'left right'
      'bottom bottom';
    gap: 1rem;
    justify-items: end;
  }

  .headerImg {
    grid-area: left;
  }

  .headerButtons {
    grid-area: right;
    gap: 1.5rem;
  }

  .headerButtons img {
    height: 4rem;
    width: 4rem;
  }

  .searchBar {
    grid-area: bottom;
    width: 100%;
  }

  .loginButton {
    font-size: 1rem;
  }

  /* .searchBar {
    display: none;
  } */
}
