.profile {
  padding: 6rem;
  height: 100%;
}

.title {
  font-family: var(--font-katibeh);
  font-weight: 400;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 5rem;
}

.profileDisplay {
  display: flex;
  gap: 10rem;
  height: 100%;
}

.pictureForm {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
}

.userPhoto {
  border-radius: 4rem;
}

.imageButton {
  width: 80% !important;
  background-color: black !important;
  color: white !important;
  font-size: 1rem !important;
  height: 3rem !important;
  padding: 0.5rem !important;
}

.imageButton:hover {
  background-color: black !important;
}

.editForm label {
  font-size: 2rem;
  font-weight: 600;
  display: block;
  margin-bottom: 1rem;
}

.editForm textarea {
  display: block;
  width: 60%;
  height: 8rem;
  font-size: 2rem;
  padding: 1.5rem;
  border: 1px solid var(--neutralColorBase);
}

.editForm input {
  display: block;
  width: 60%;
  font-size: 2rem;
  margin-bottom: 2rem;
  height: 3rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--neutralColorBase);
}

.editForm input::placeholder {
  padding-left: 1rem;
}

.profileSettings {
  flex: 1;
  border-left: 1px solid var(--neutralColorBase);
  padding-left: 5rem;
}

.editButton {
  margin-top: 3rem !important;
  width: 10rem !important;
}

.cancelButton {
  background-color: rgb(139, 34, 34) !important;
  color: white !important;
}

.cancelButton:hover {
  background-color: black !important;
  color: white !important;
}
.buttonGroup {
  display: flex;
  gap: 3rem;
}

.error {
  color: red;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000; /* color visible */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 1rem auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.uploadingPhoto {
  width: 25rem;
  height: 25rem;
  background-color: var(--neutralColorLigther);
  border-radius: 4rem;
  display: flex;
  align-items: center;
}
