/* Variables  */
:root {
  --primaryColorLight1: #f9b89f;
  --primaryColorBase: #f18339;
  --primaryColorDark1: #bb642a;
  --primaryColorDark2: #87471c;

  --neutralColorBase: #cac6c5;
  --neutralColorDark1: #a79e9c;
}

/* Basic global reset and styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%; /* With this the "rem" will be equal to 10px making the styling easier */
}

img {
  max-width: 100%; /* This help to manage the images*/
  display: block;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Container helper */
.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

/* Basic "under construction" style for main content */
main {
  /* height: 100rem; */
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: black;
}

.homeTitles {
  font-family: var(--font-katibeh);
  font-size: 4.5rem;
  text-align: center;
  font-weight: 400;
}
