.links ul {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  padding: .5rem;
}

.links li a {
  display: block;
  transition: transform 0.3s ease-in-out;
}

.links li a:hover {
  transform: scale(1.1);
}

.gray {
  color: #b8b8b8;
}